/* style the board 
create the empty grid*/
body{
  height: 1000px;
  text-align: center;
  background-color: cyan; /* For browsers that do not support gradients */
  background-image: linear-gradient(cyan, palegreen); 
  background: cover;
    
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: 1px 1px gray;
}
.gameboard{
  /* background-color: darkgray; */
  display: inline-block;
}
svg{
  width: 510px;
  height: 480px;
  
}
/* Restart button */
button{
  padding: 0.5em 1em;
  border: solid 1px navy;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  color: navy;
  background-color: transparent;
  cursor: pointer;
  margin: 2px 0;
}
button:hover {
  color: navy;
  border-color: currentColor;
  background-color: white;
}

button:hover,
button:focus {
  color: navy;
  border-color: currentColor;
  background-color: white;
}
/* Music Button */
#soundBtn{
  padding: 0.5em 1em;
  border: solid 1px navy;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  color: navy;
  background-color: transparent;
  cursor: pointer;
  margin: 2px 0;
}
#soundBtn:hover {
  color: navy;
  border-color: currentColor;
  background-color: white;
}

#soundBtn:hover,
#soundBtn:focus {
  color: navy;
  border-color: currentColor;
  background-color: white;
}


/* .hover-coral{
  background-color: rgba(255,127,80,0.2);
}
.hover-black{
  background-color: rgba(38,50,58,0.2);
}



#soundBtn{}
*/