/* style the board 
create the empty grid*/
body{
  height: 1000px;
  text-align: center;
  background-color: cyan; /* For browsers that do not support gradients */
  background-image: linear-gradient(cyan, palegreen); 
  background: cover;
    
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: 1px 1px gray;
}
.gameboard{
  background-color: darkgray;
  display: inline-block;
}
svg{
  width: 510px;
  height: 480px;
  
}


/* .hover-coral{
  background-color: rgba(255,127,80,0.2);
}
.hover-black{
  background-color: rgba(38,50,58,0.2);
}

#reset{}


#soundBtn{}
*/