/* style the board 
create the empty grid*/
body{
  height: 1000px;
  text-align: center;
  background-color: cyan; /* For browsers that do not support gradients */
  background-image: linear-gradient(cyan, palegreen); 
  background: cover;
    
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: 1px 1px gray;
}

.gameboard{
  /* background-color: darkgray; */
  display: inline-block;
}
svg{
  width: 510px;
  height: 480px;
  
}
/* Restart button */
button{
  padding: 0.5em 1em;
  border: solid 1px navy;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  color: navy;
  background-color: transparent;
  cursor: pointer;
  margin: 2px 0;
}
button:hover {
  color: navy;
  border-color: currentColor;
  background-color: white;
}

button:hover,
button:focus {
  color: navy;
  border-color: currentColor;
  background-color: white;
}
/* Music Button */
.soundBtn{
  padding: 0.5em 1em;
  border: solid 1px navy;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  color: navy;
  background-color: transparent;
  cursor: pointer;
  margin: 2px 0;
}
.soundBtn:hover {
  color: navy;
  border-color: currentColor;
  background-color: white;
}

.soundBtn:hover,
.soundBtn:focus {
  color: navy;
  border-color: currentColor;
  background-color: white;
}

/*Sets the background for the modal*/
.modal-background{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
/*Aligns the modal content*/
.modal-content{
  background-color: darkgray;
  width: 600px;
  height: 440px;
  top: 0;
  left: 0;
  border-radius: 5px; 
  padding: 20px;
  text-align: center;
  position: relative;
} 

/* set an 'x' to close the modal box*/
.close {
  position: absolute;
  right: 18px;
  top: 18px;
  width:40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid gray;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: coral;
  transform: rotate(45deg);
  text-decoration: none;
  font-size: 45px;
  cursor: pointer;
  }   
  /* Modal ends */

/* .hover-coral{
  background-color: rgba(255,127,80,0.2);
}
.hover-black{
  background-color: rgba(38,50,58,0.2);
}



#soundBtn{}
*/