/* style the board 
create the empty grid*/
body{
  height: 700px;
  text-align: center;
  background-color: cyan; /* For browsers that do not support gradients */
  background-image: linear-gradient(cyan, palegreen); 
    
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
}
.gameboard{
  background-color: darkgray;
  display: inline-block;
}
svg{
  width: 510px;
  height: 510px;
  
}
/* .col{
width: 70px;
height: 70px;
display: inline-block;
background-color:black;
border-radius: 50%;
margin 5px;
}

.hover-coral{
  background-color: rgba(255,127,80,0.2);
}
.hover-black{
  background-color: rgba(38,50,58,0.2);
}

button{

} */